<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <h1><a href="">App Cognition Page</a> </h1>
    </div>

    <div>
        <p>published: 2017-01-17, 12:00</p>
        <h2><a href="">Facebook</a> </h2>
        <p>this is famouse SNS app to share anything waht you want to share</p>
    </div>

    <div>
        <p>published: 2017-01-18, 12:00</p>
        <h2><a href="">KakaoTalk</a> </h2>
        <p>this is famouse Korean Chatting App</p>
    </div>
</body>
</html>